<template name="login">
            
    <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">LaunchR Dashboard</span>
                <div class="mdl-layout-spacer"></div>
            </div>
    </header>
    
    <main class="mdl-layout__content">
        
        <div class="mdl-grid">
            
            <div class="mdl-cell mdl-cell--middle mdl-cell-4-col mdl-cell--hide-phone mdl-cell--hide-tablet"></div>
        
            <div class="mdl-card register-card mdl-shadow--4dp mdl-cell mdl-cell--middle mdl-cell--4-col mdl-cell--12-col-phone">

                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">New User?</h2>
                </div>
                
                <div class="mdl-card__actions mdl-card--border"> </div>

                <div class="mdl-textfield mdl-js-textfield auth-code-input">
                  <input class="mdl-textfield__input" type="text" id="team_auth_code">
                  <label class="mdl-textfield__label" for="fname">Enter Team Authorization Code</label>
                </div>

                <button class="loginBtn loginBtn--google register-button">
                    Register with Google
                </button>

                <div class="mdl-layout-spacer"></div>

            </div>
            
            <div class="mdl-cell mdl-cell--middle mdl-cell-4-col mdl-cell--hide-phone mdl-cell--hide-tablet"></div>
        
        </div>

        <div class="mdl-grid loginGrid">
            
            <div class="mdl-cell mdl-cell--middle mdl-cell-4-col mdl-cell--hide-phone mdl-cell--hide-tablet"></div>
            
            <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-cell mdl-cell--middle mdl-cell--4-col mdl-cell--12-col-phone">

                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Existing User?</h2>
                </div>
                
                <div class="mdl-card__actions mdl-card--border"> </div>

                <button class="loginBtn loginBtn--google login-button">
                    Login with Google
                </button>

            </div>
            
            <div class="mdl-cell mdl-cell--middle mdl-cell-4-col mdl-cell--hide-phone mdl-cell--hide-tablet"></div>
            
        </div>

    </main>
    
</template>